<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">The Adelaide University Cheese Society is a club aimed at bringing people together over a shared love of cheese, and sharing and growing our detailed knowledge of cheese together.</h3>
                <h3 class="section-subheading text-muted">Our constitution can be found here.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/about/idea.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2016</h4>
                                <h4 class="subheading">The Founding of an Idea</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The AUCS founding members walk into a Digital Signal Processing tutorial together and note the strange smell. It was soon decided that it was closest to the smell of a smoked cheese.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/about/constitution.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2016</h4>
                                <h4 class="subheading">The Writing of the Constitution</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A constitution is written up and an application is put forward. The Adelaide University Cheese Society is well on its way.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Committee Section -->
<section id="committee" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">The AUCS Current Committee</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/01.jpg" class="img-responsive img-circle" alt="">
                    <h4>Lucas Sargent</h4>
                    <p class="text-muted">Le Grand Fromage</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/02.jpg" class="img-responsive img-circle" alt="">
                    <h4>Claudia Davey</h4>
                    <p class="text-muted">La Petit Grand Fromage</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/03.jpg" class="img-responsive img-circle" alt="">
                    <h4>Jason Tosolini</h4>
                    <p class="text-muted">Cheese Raiser</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/04.jpg" class="img-responsive img-circle" alt="">
                    <h4>Brent Williams</h4>
                    <p class="text-muted">The Keeper of Cheese</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/05.jpg" class="img-responsive img-circle" alt="">
                    <h4>Ashley Jayasuriya</h4>
                    <p class="text-muted">Industry Spokescheese</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/06.jpg" class="img-responsive img-circle" alt="">
                    <h4>Tash Bradley</h4>
                    <p class="text-muted">General Member</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/07.jpg" class="img-responsive img-circle" alt="">
                    <h4>Riley Ovan</h4>
                    <p class="text-muted">General Member</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/08.jpg" class="img-responsive img-circle" alt="">
                    <h4>Michael Taylor</h4>
                    <p class="text-muted">General Member</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/about/committee/09.jpg" class="img-responsive img-circle" alt="">
                    <h4>Joshua Wood</h4>
                    <p class="text-muted">General Member</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">The current committee has been proud to bring you the Adelaide University Cheese Society since 2016.</p>
            </div>
        </div>
    </div>
</section>