<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="$ctrl.ToggleNav()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="./#!/home">AUCS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" uib-collapse="$ctrl.Hidden">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a ng-href="./#!/home"></a>
                </li>
                <li>
                    <a ng-href="./#!/cheeses">Cheeses</a>
                </li>
                <li>
                    <a ng-href="./#!/about">About</a>
                </li>
                <li>
                    <a ng-href="./#!/events">Events</a>
                </li>
                <li>
                    <a href ng-click="$ctrl.OpenAccount()">{{$ctrl.LoginLabel}}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->		
    </div>
    <!-- /.container-fluid -->
</nav>
<script type="text/ng-template" id="LoginModal.template.html">
    <div class="modal-body">
        <p>The Adelaide University Cheese Society uses Facebook to login.</p>
        <button class="btn btn-success" type="button" ng-click="$ctrl.Login()">Login with Facebook</button>
        <p>Don't have a Facebook account? Make one - they're free!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-help" type="button" ng-click="$ctrl.DismissModal()">Cancel</button>
    </div>
</script>