<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span class="copyright">&copy; Adelaide University Cheese Society 2016</span>
			</div>
			<div class="col-md-6">
				<ul class="list-inline social-buttons">
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="https://www.facebook.com/groups/aucs.club/"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>